## 1. write a python program to sum three numbers.

In [1]:
num1=34
num2=56
num3=43
sum=num1+num2+num3
print("Sum of three number is:",sum)

Sum of three number is: 133

## 2.x=890 convert the data type integer into string y="125" convert the data type string into integer z="my name is sarthak"..can i convert the type of this string into integer? try it and give reason why it did't convert the data type.

In [7]:
x=890
str(x)

'890'

In [8]:
y="125"
int(y)

125

In [9]:
z="my name is sarthak"
int(z)

ValueError: invalid literal for int() with base 10: 'my name is sarthak'

In [ ]:
string can not convert into integer because string contain litrals.

## 3.using sclicing ,extract second character from the string "abcdef"

In [11]:
string_1="abcdef"
print("Extracting second character from the string:",string_1[1])

extracting second character from the string: b

## 4.create a string greeting="Good morning" and use sclicing to reverse the string.

In [13]:
greeting="Good morning"
print("Reverse the string:",greeting[::-1])

Reverse the string: gninrom dooG

## 5.create a variable word="Python" and use scling to get the character "ython"

In [14]:
word="Python"
print("To get the character ython:",word[1:])

Toget the character ython: ython

## 6.create a list cities=["New Yock","Los Angeles","Chicago","Houston","Miami"] and replace the third element with Dallas.

In [25]:
cities=["New Yock","Los Angeles","Chicago","Houston","Miami"]
print(cities)
cities[2]="Dallas"
print(cities)

['New Yock', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
['New Yock', 'Los Angeles', 'Dallas', 'Houston', 'Miami']

## 7.using list slicing,reverse the list [5,4,3,2,1]

In [26]:
list_1=[5,4,3,2,1]
print("Reverse is:",list_1[::-1])

Reverse is: [1, 2, 3, 4, 5]

## 8.Given the list number =[1,2,3,4,5[6,7,8,9,10]],access[9,10]

In [31]:
number=[1,2,3,4,5,[6,7,8,9,10]]
print(number[5][3:])

[9, 10]

## 9.Given the string message="Welcome to python!",use the strip() function to remove leading and trailing space.

In [34]:
message="   Welcome to python!   "
message.strip()

'Welcome to python!'

## 10.create a string word="excellent" and use the replace() function to replace "cell" wih "cent".

In [35]:
word="excellent"
word.replace('cell','cent')

'excentent'

## 11.write a program that takes an integer as a input,convert its into float,perform some arthmatic operation involving both integer and float and print the result

In [37]:
integer=int(input("enter any integer numbner:"))
float(integer)

enter any integer numbner:231

231.0

In [38]:
a=int(input("enter 1st number:"))
b=float(input("enter 2nd number:"))
c=a+b
print("Addition is:",c)
c=a-b
print("Substraction is:",c)
c=a*b
print("Multiplication is:",c)
c=a/b
print("Division is:",c)
c=a**b
print("Powers is:",c)
c=a//b
print("Floor division is:",c)
c=a%b
print("Modulus is:",c)

enter 1st number:23
enter 2nd number:11.7
Addition is: 34.7
Substraction is: 11.3
Multiplication is: 269.09999999999997
Division is: 1.965811965811966
Powers is: 8554914656739840.0
Floor division is: 1.0
Modulus is: 11.3

## 12.Write a program that takes a numerical string as input and convert it into an integer. perform arithmetic operstions on the integer and print the result.

In [5]:
string1="12"
string2="13"
a=int(string1)
b=int(string2)
print(a)
print(b)
print("Arithmetic operation: ")
y=a+b
print("Addition is:",y)
y=a-b
print("Substraction is:",y)
y=a*b
print("Multiplication is:",y)
y=a/b
print("Division is:",y)

12
13
Arithmetic operation:
Addition is: 25
Substraction is: -1
Multiplication is: 156
Division is: 0.9230769230769231

## 13.Write a program that takes an integer as inpute and converts it into a string the ,concentenatenate it with another string and print the result.

In [41]:
int1=123
str1=str(int1)
str2="456"
sum1=str1+str2
print(sum1)

123456

## 14.Create a program that takes a string and a character as input use the in and not in operators to check if the character in the string and print result

In [17]:
string_1="Python"
string_1 in "Python full stack development"

True

In [18]:
string_1="Python"
string_1 not in "Python full stack development"

False

## 15.create a program that takes the base and height of a triangle as input and calulates its area(1/2*base * height)

In [20]:
height=12
base=15
area_of_triangle=1/2*base*height
print("Area of triangle:",area_of_triangle)

Area of triangle: 90.0

In [21]:
1/2*12*15

90.0

## 16. Given a tuple(3,7,2,7,1), how many times does the number 7 appear?

In [23]:
tuple1=(3,7,2,7,1)
print(tuple1)
tuple1.count(7)

(3, 7, 2, 7, 1)

2

## 17.Create two tuples:one with the number 1 through 5 and another with the same numbers in reverse number order . then. concatenate these tuples.

In [42]:
tuple1=(1,2,3,4,5)
tuple2=(5,4,3,2,1)
sum1=tuple1+tuple2
print(sum1)

(1, 2, 3, 4, 5, 5, 4, 3, 2, 1)

## 18.Using the count() function find out how many times the letter "a " appears in the string "banana"

In [26]:
string1="banana"
string1.count("a")

3

## 19.create a list grade=[87,92,78,95,88] and modify the second element to be 90.

In [33]:
grade=[87,92,78,95,88] 
print(grade)
grade[1]=90
print(grade)

[87, 92, 78, 95, 88]
[87, 90, 78, 95, 88]

## 20. write a program that takes a number as input and print its square and cube.

In [38]:
a=5
b=a**2
print("square is:",b)

square is: 25

In [40]:
c=a**3
print("Cube is:",c)

Cube is: 125