## Generator

#### To generate something

In [1]:
def fn(x,y):
    x=x-y
    return x+1

In [2]:
fn(5,9)

-3

In [3]:
def fn1(x,y):
    x=x-y
    yield x+1

In [4]:
fn1(5,9)

In [5]:
print(next(fn1(5,8)))

-2

In [21]:
def generator():
    print("sejal")
    yield"sejal"+"shahu"
    
    print("hello python")
    yield 10
    
    print("python developer")
    yield 15

In [22]:
x=generator()

In [23]:
print(x)

<generator object generator at 0x000001AD7B43F640>

In [24]:
print(next(x))

sejal
sejalshahu

In [25]:
print(next(x))

hello python
10

In [26]:
print(next(x))

python developer
15

In [27]:
print(next(x))

StopIteration:

In [28]:
def generator():
    print("sejal")
    yield"sejal"+"shahu"
    
    return # will stop generation 
    print("hello python")
    yield 10
    
    print("python developer")
    yield 15

In [29]:
x=generator()
print(next(x))
print(next(x))
print(next(x))
print(next(x))

sejal
sejalshahu

StopIteration:

## For Loop

In [30]:
def generator():
    print("sejal")
    yield"sejal"+"shahu"
    
    print("hello python")
    yield 10
    
    print("python developer")
    yield 15
    
x=generator()
for i in x:
    print(i)

sejal
sejalshahu
hello python
10
python developer
15

In [31]:
def generator():
    print("sejal")
    yield"sejal"+"shahu"
    
    return # will stop generation 
    print("hello python")
    yield 10
    
    print("python developer")
    yield 15
x=generator()
for i in x:
    print(i)

sejal
sejalshahu

In [34]:
def generator():
    print("sejal")
     return # will stop generation 
    yield"sejal"+"shahu"
    
   
    print("hello python")
    yield 10
    
    print("python developer")
    yield 15
x=generator()
for i in x:
    print(i)

sejal

## Difference between iterator and generatorÂ¶

1) we can use iterators elements as many times bt in generator we can use only once.
2)iterator uses two functions iter() and next and generator uses only one fn next() and yield keyword
3)gm4en

### Example

Suppose you're building a system to analyze and visualize large sets of temperature data. Your data source is a large file
containing temperature readings for different locations over time.

You can use iterators and generators to read this data efficiently and process it in chunks, rather than loading the entire
file into memory at once. This approach allows you to process large datasets without running into memory constraints.

In [36]:
temperature_data = [
    {'Location': 'New York', 'Date': '2022-01-01', 'Temperature': 32},
    {'Location': 'New York', 'Date': '2022-01-02', 'Temperature': 34},
    {'Location': 'New York', 'Date': '2022-01-03', 'Temperature': 36},
    {'Location': 'New York', 'Date': '2022-01-04', 'Temperature': 38},
    {'Location': 'Los Angeles', 'Date': '2022-01-01', 'Temperature': 68},
    {'Location': 'Los Angeles', 'Date': '2022-01-02', 'Temperature': 70},
    {'Location': 'Los Angeles', 'Date': '2022-01-03', 'Temperature': 72},
    {'Location': 'Los Angeles', 'Date': '2022-01-04', 'Temperature': 74}
]

import pandas as pd

# Create a DataFrame from the dictionary
df = pd.DataFrame(temperature_data)

# Print the DataFrame
df

      Location        Date  Temperature
0     New York  2022-01-01           32
1     New York  2022-01-02           34
2     New York  2022-01-03           36
3     New York  2022-01-04           38
4  Los Angeles  2022-01-01           68
5  Los Angeles  2022-01-02           70
6  Los Angeles  2022-01-03           72
7  Los Angeles  2022-01-04           74

In [37]:
df.to_csv('temperature_data_output.csv', index=False)

In [41]:
#Define a generator function to read temperature data from a file
def temperature_reader(filename):
    with open(filename,'r') as file:
        for line in file:
            yield line.strip()
#Define a generator function to parse temperature data
def parse_temperature_data(temperature_data):
    for item in temperature_data.slipt(','):
        yield float(item)

#define a generator function to calculate the average temperature for each location
def calculate_average_data(temperature):
    total=0
    count=0
    for temperature  in temperatures:
        total+=temperature
        count+=1
    yield total/count
#Read temperature data from a file
temperature_data=temperature_reader('temperature_data_output.csv')
 
# # Process the data in chunks
# chunk_size = 100
# for i in range(0, len(temperature_data), chunk_size):
#     chunk = temperature_data[i:i+chunk_size]
    
#     # Parse the temperature data
#     parsed_data = parse_temperature_data(chunk)
    
#     # Calculate the average temperature for each location
#     average_temperatures = calculate_average_temperature(parsed_data)
    
#     # Print the average temperatures
#     for average_temperature in average_temperatures:
#         print(average_temperature)

In [42]:
next(temperature_data)

'Location,Date,Temperature'

In [44]:
next(temperature_data)

'New York,2022-01-02,34'