Executing SQL quaries using python
we can use the sql alchemy library to connect to relational databases and execute sql queries.
it also requires a connecting library for the underlying database e.g  MYSQL-python for MYSQL

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as connector
from mysql.connector import Error
import pandas as pd

In [3]:
connection=connector.connect(user="root",password="ipcs",host="127.0.0.1",database="s1")

In [5]:
cursor=connection.cursor()

In [6]:
connection.close()

## SQL queries excuting from MySQL to python using mysql.connector

In [7]:
import mysql.connector as connector
from mysql.connector import connection

In [10]:
connection=connector.connect(user="root",password="ipcs",host="127.0.0.1",database="s1")

In [11]:
cursor1=connection.cursor(buffered=True)

In [13]:
#creating new database
drop="drop database if exists sejal1"
cursor1.execute(drop)
new_database="create database sejal1"
cursor1.execute(new_database)

In [16]:
#use database
use_database=cursor1.execute("use sejal1")
cursor1.execute(use_database)

In [20]:
#creating table
drop1=cursor1.execute("drop table if exists s1_data")
cursor1.execute(drop1)

In [25]:
create="create table s1_data (name char(25),id int,course_name char(10),duration_month int)"
cursor1.execute(create)

In [33]:
value="insert into s1_data values('sejal',1,'python',6)"
cursor1.execute(value)

In [34]:
value1="insert into s1_data values('harshada',2,'SQL',4)"
cursor1.execute(value1)

In [35]:
value2="insert into s1_data values('ketki',3,'C and C++',12)"
cursor1.execute(value2)

In [36]:
value3="insert into s1_data values('kajal',4,'CS',6)"
cursor1.execute(value3)

In [37]:
connection.commit()

In [38]:
connection.close()