In [1]:
thistuple=("apple","orange","banana")
print(thistuple)

('apple', 'orange', 'banana')

### Tuple Length

In [3]:
s1=("apple","orange","cherry","banana")
print(len(s1))

4

In [4]:
s2=(1,2,3,4,5,6,6,7,"sejal")
print(len(s2))

9

In [9]:
#tuple items can be of any data type:

tuple1=("apple","banana","cherry")
tuple2=(1,3,53,56)
tuple3=(True,False,False)
tuple4=("abc",34,True,40,"male")
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

('apple', 'banana', 'cherry')
(1, 3, 53, 56)
(True, False, False)
('abc', 34, True, 40, 'male')

### Access Tuple Items

In [20]:
s1=("sejal","kajal","kinjal","harshu","jyoti")
print(s1[3])
print(s1[0])
print(s1[4])
print(s1[-1])
print(s1[-4])

harshu
sejal
jyoti
jyoti
kajal

### Range of values

In [21]:
s1=("red","yellow","blue","pink","green")
print(s1[2:5])
print(s1[0:3])
print(s1[3:5])

('blue', 'pink', 'green')
('red', 'yellow', 'blue')
('pink', 'green')

### When Starting value is not specified

In [25]:
my_tuple=("apple","red","banana","yellow","green","cherry","pink","blue","orange","kiwi")
print(my_tuple[:5])
print(my_tuple[3:])
print(my_tuple[:2])

('apple', 'red', 'banana', 'yellow', 'green')
('yellow', 'green', 'cherry', 'pink', 'blue', 'orange', 'kiwi')
('apple', 'red')

### Nagative range

In [36]:
my_tuple=("apple","red","banana","yellow","green","cherry","pink","blue","orange","kiwi")
print(my_tuple[-3:-6:-1])
print(my_tuple[-4:-1])
print(my_tuple[-8:-1])
print(my_tuple[-3:-1])

('blue', 'pink', 'cherry')
('pink', 'blue', 'orange')
('banana', 'yellow', 'green', 'cherry', 'pink', 'blue', 'orange')
('blue', 'orange')

### Change Tuple Value

In [42]:
x=("orange",23,1.5,True,False,"sejal")
y=list(x)
print(y)
y[1]="65"
y[5]="rani"
x=tuple(y)
print(x)

['orange', 23, 1.5, True, False, 'sejal']
('orange', '65', 1.5, True, False, 'rani')

### Adding Item

In [52]:
my_tuple=("apple",23,True)
y=list(my_tuple)
print(y)
y.append(23)
y.append("orange")
y.append(False)
print(y)
x=tuple(y)
print(x)

['apple', 23, True]
['apple', 23, True, 23, 'orange', False]
('apple', 23, True, 23, 'orange', False)

In [56]:
a=("apple", 23, True, 23, "orange", False)
b=list(a)
print(b)
b.remove(23)
b.remove(True)
print(b)
a=tuple(b)
print(a)

['apple', 23, True, 23, 'orange', False]
['apple', 23, 'orange', False]
('apple', 23, 'orange', False)

### To delete the tuple completely

In [57]:
s1=("apple","red","banana","yellow","green","cherry","pink","blue","orange","kiwi")
del s1
print(s1)

NameError: name 's1' is not defined

### Unpacking the tuple

In [59]:
subject=("maths","science","hindi","English")
(s1,s2,s3,s4)=subject
print(s1)
print(s2)
print(s3)
print(s4)

maths
science
hindi
English

### Count and Index

In [62]:
s1=("maths","science","hindi","maths","english")
print(s1.count("hindi"))
print(s1.count("maths"))
print(s1[3])

1
2
maths